<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>david rekow, yo</title>
  <link type="text/css" href="/css/main.css" rel="stylesheet" />
  {{#css_page}}{{/css_page}}
  <script type="text/javascript" src="/js/app/init.js"></script>
  {{#js_head}}{{/js_head}}
</head>
<body>
  {{#content}}
    default content
  {{/content}}
  <script type="text/javascript">track('view');</script>
  <script type="text/javascript" src="/js/lib/t.js"></script>
  {{#js_body}}{{/js_body}}
</body>
</html>
